<div class="container my-5">
  <h2 class="text-center mb-4">Choose From Available Clothes</h2>

  <ng-container *ngIf="itemsMaster$ | async as items">
    <div *ngFor="let item of items; let last = last" class="category-section">
      <h2 class="category-title">{{ item.id | titlecase }}</h2>

      <div class="row g-4">
        <div
          class="col-12 col-sm-6 col-md-4 col-lg-3"
          *ngFor="let colorInfo of item.colors"
        >
          <div class="card h-100 shadow-sm">
            <img
              [src]="colorInfo.images[0]"
              class="card-img-top"
              alt="{{ colorInfo.name }}"
            />

            <div class="card-body">
              <div class="alert alert-info p-1 mb-2 text-center">
                <strong style="font-size: 0.8rem"
                  >Belongs To: {{ item.id | uppercase }}</strong
                >
              </div>
              <h5 class="card-title">{{ colorInfo.name | titlecase }}</h5>
              <p class="card-text">
                <strong>Style:</strong> {{ colorInfo.style }}
              </p>

              <button
                class="btn btn-primary mt-auto"
                (click)="
                  addToMyWardrobe({
                    type: item.id,
                    color: colorInfo.name,
                    style: colorInfo.style,
                    imageUrl: colorInfo.images[0]
                  })
                "
              >
                Add to Wardrobe
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr *ngIf="!last" class="my-5" />
    </div>
  </ng-container>
</div>
