<div class="form-container">
  <h2>Add Clothes</h2>
  <form>
    <div class="form-group">
      <label for="type">Type:</label>
      <select id="type" (change)="onTypeChange($event)" required>
        <option value="">Select Type</option>
        <option *ngFor="let item of itemsMaster" [value]="item.id">
          {{ item.id }}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="selectedType">
      <label for="color">Color:</label>
      <select id="color" (change)="onColorChange($event)" required>
        <option value="">Select Color</option>
        <option *ngFor="let color of selectedColors" [value]="color.name">
          {{ color.name }}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="selectedColor">
      <label>Images:</label>
      <div *ngFor="let imageUrl of selectedColor.images; let i = index">
        <img [src]="imageUrl" alt="Clothing Image" style="max-width: 100px" />
      </div>
    </div>

    <button type="submit" [disabled]="!selectedColor" class="btn btn-success">
      Add to My Clothes
    </button>
  </form>
</div>
