<header class="navbar">
  <div class="container">
    <a class="logo" routerLink="/">Smart Wardrobe</a>
    <ng-container *ngIf="currentUser$ | async as user; else guestView">
      <nav>
        <ul class="nav-links">
          <li>
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li>
            <a routerLink="/addclothes" routerLinkActive="active"
              >Add Clothes</a
            >
          </li>
          <li class="user-email">
            <span>{{ user.email }}</span>
          </li>
          <li>
            <button class="logout-button" (click)="logout()">Logout</button>
          </li>
        </ul>
      </nav>
    </ng-container>

    <ng-template #guestView>
      <nav>
        <ul class="nav-links">
          <li>
            <a routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li>
            <a routerLink="/register" routerLinkActive="active">Register</a>
          </li>
        </ul>
      </nav>
    </ng-template>
  </div>
</header>
